<!doctype html>
<html lang="<%= locale %>" ng-app="app">
<head>
	<meta charset="utf-8"/>
	<title>Mushroom Kingdom Pizzeria</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}

		p { padding: 10px; }

		.bold { font-weight: bold; }

		#logo-small { width:160px; height: 79px; }
		#logo-large { width:720px; height:557px; }
	</style>
</head>
<body>
	<header class="well clearfix" ng-cloak ng-controller="HeaderCtrl">
		<a href="#/"><img id="logo-small" src="img/logo-small.png"/></a>

		<ul class="list-inline pull-right">
			<li ng-repeat="l in locales"><a href="javascript:void(0);" ng-class="{bold:currentLocale.indexOf(l) > -1}" ng-click="updateLocale(l)">{{l}}</a></li>
		</ul>
	</header>

	<div class="container" role="main" ng-view></div>

	<script src="bower/angular/angular.js"></script>
	<script src="bower/angular-route/angular-route.js"></script>
	<script src="bower/angular-i18n/angular-locale_<%= locale.toLowerCase() %>.js"></script>
	<script src="bower/angular-translate/angular-translate.js"></script>
	<script src="js/app.js"></script>
</body>
</html>