<h1>{{ 'LBL_ORDER_COMPLETE' | translate }}</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>{{ 'LBL_ITEM' | translate }}</td>
			<td style="width:100px;">{{ 'LBL_QUANTITY' | translate }}</td>
			<td style="width:100px;">{{ 'LBL_TOTAL' | translate }}</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in menuItems">
			<td>{{item.name}}</td>
			<td class="text-right">{{orderItems[$index]}}</td>
			<td class="text-right">{{orderItems[$index] * item.price | currency}}</td>
		</tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-right" colspan="3">{{orderTotal | currency}}</td>
	</tr>
	</tfoot>
</table>

<p class="bg-success">
	<strong>{{ 'MSG_ORDER_THANKS' | translate }}</strong><br/>
	{{ 'MSG_ORDER_DELIVERY' | translate : deliveryValues }}
</p>

<div>
	<button class="btn btn-success" ng-click="startOrder()">{{ 'BTN_NEW_ORDER' | translate }}</button>
</div>