<h1>Order Complete</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Item</td>
			<td style="width:100px;">Quantity</td>
			<td style="width:100px;">Total</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in menuItems">
			<td>{{item.name}}</td>
			<td class="text-right">{{orderItems[$index]}}</td>
			<td class="text-right">{{orderItems[$index] * item.price | currency}}</td>
		</tr>
	</tbody>
	<tfoot>
	<tr>
		<td class="text-right" colspan="3">{{orderTotal | currency}}</td>
	</tr>
	</tfoot>
</table>

<div>Thank you for your order!</div>
<div>Your pizza will be delivered {{deliveryDate | date:'short'}}</div>

<br/>

<div>
	<button class="btn btn-success" ng-click="startOrder()">New Order</button>
</div>