<h1>Place Order</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Item</td>
			<td style="width:100px;">Quantity</td>
			<td style="width:100px;">Total</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in menuItems">
			<td>{{item.name}}</td>
			<td><input type="number" min="0" class="form-control text-right" ng-model="orderItems[$index]"/></td>
			<td class="text-right">{{orderItems[$index] * item.price | currency}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td class="text-right" colspan="3">{{orderTotal | currency}}</td>
		</tr>
	</tfoot>
</table>

<div class="radio" ng-repeat="option in deliveryOptions">
	<label>
		<input type="radio" name="delivery-option" value="{{option.value}}" ng-click="updateDeliveryOption(option.value)" ng-checked="deliveryOption == option.value">
		{{option.label}}
	</label>
</div>
<div>
	<input type="date" ng-model="deliveryDate" ng-show="deliveryOption == 2"/>
</div>

<br/>

<p class="bg-danger" ng-show="hasError">
	Please add at least one pizza to your order.
</p>

<div>
	<button class="btn btn-success" ng-click="submitOrder()">Submit Order</button>
	<button class="btn btn-link" ng-click="cancelOrder()">Cancel</button>
</div>